/* بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم */

.content {
  text-align: center;
  height: 72vh;
  position: relative;
  display: flex;
  font-size: 13rem;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;

  .content-logo {
    color: var(--main-item-color);
  }
}
