<!-- بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم -->

<main>
  <div class="container-fluid">
    <!-- Header -->
    <block-header></block-header>
    <!-- / Header -->

    <!-- Sidemenu -->
    <block-sidemenu [innerWidth]="innerWidth"></block-sidemenu>
    <!-- / Sidemenu -->

    <!-- / Left frame -->
    <div class="left-frame"></div>
    <!-- / Left frame -->

    <!-- Main content -->
    <div class="content">
      <!-- Main content body -->
      <div
        class="content-body"
        [class.full]="innerWidth < 991 || sidemenuService.isClose()"
        [class.compact]="innerWidth > 991 && !sidemenuService.isClose()">
        <!-- page loading screen -->
        <div class="loading-content">
          <block-loading-element [visible]="loading"></block-loading-element>
        </div>
        <!-- / Page loading screen -->

        <!-- http error message -->
        <p-toast key="httpErrorMessage" position="bottom-left"></p-toast>
        <!-- / Http error message -->

        <!-- route content viewbox -->
        <div
          class="route-content container"
          [@routeAnimations]="animationService.getRouteAnimationData()">
          <router-outlet></router-outlet>
        </div>
        <!-- / Route content viewbox -->
      </div>
      <!-- / Main content body -->
    </div>
    <!-- / Main content -->

    <!-- Footer -->
    <div class="mt-2">
      <block-footer [currentApplicationVersion]="currentApplicationVersion">
      </block-footer>
    </div>
    <!-- / Footer -->
  </div>
</main>
