/* بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم */

body {
  scroll-behavior: smooth;
  background-color: var(--main-color);
}

.container-fluid {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-color: var(--main-color);

  .menu {
    float: right;
  }

  .content {
    height: 100vh;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
  }

  .content::-webkit-scrollbar {
    display: none;
  }

  .left-frame {
    background-color: var(--sidemenu-main-color);
    height: 100vh;
    width: 8px;
    float: left;
    z-index: 98;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 10px;
      width: 80px;
      bottom: 0;
    }

    &:before {
      top: var(--header-height);
      left: 8px;
      height: 30px;
      width: 30px;
      border-bottom-left-radius: 50%;
      background: transparent;
      transform: rotate(90deg);
      box-shadow: 0 13px 0 0 var(--sidemenu-main-color);
    }

    &:after {
      bottom: var(--footer-height);
      left: 7px;
      height: 30px;
      width: 30px;
      border-bottom-left-radius: 50%;
      background: transparent;
      transform: rotate(0deg);
      box-shadow: 0 10px 0 0 var(--sidemenu-main-color);
    }
  }
}

.content-body {
  transition: all 0.2s linear;

  &.full {
    padding: 0rem 0rem 1rem 0.7rem;
  }

  &.compact {
    padding: 0rem 18.3rem 1rem 0.7rem;
  }

  .tab-content {
    position: sticky;
    top: calc(var(--header-height) + 12px);
    z-index: var(--z-index-main-tab-bar);
  }

  .loading-content {
    position: fixed;
    z-index: var(--z-index-main-loading);
    height: var(--loading-element-size);
    text-align: center;
    justify-content: space-around;
    display: flex;
    justify-items: center;
    flex-wrap: nowrap;
    align-items: center;
    top: var(--header-height);
  }
}

@media (max-width: 991px) {
  .content-body {
    transition: all 0.2s linear;

    &.full,
    &.compact {
      padding: 0rem 0rem 0rem 0.7rem;
      transition: all 0.2s linear;
    }
  }
}

.content::-webkit-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  background-color: transparent;
  overflow-y: auto;
  overflow-x: hidden;
}

.content::-webkit-scrollbar-thumb {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  background-color: transparent;
  overflow-y: auto;
  overflow-x: hidden;
}

.offcanvas {
  width: 380px;
}
