/* بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم */

body {
  scroll-behavior: smooth;
  background-color: var(--main-color);
}

.container-fluid {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-color: var(--main-color);

  .menu {
    float: right;
  }

  .content {
    height: 100vh;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
  }

  .content::-webkit-scrollbar {
    display: none;
  }

  .right-frame {
    background-color: var(--sidebar-main-bg-color);
    height: calc(100vh - (var(--header-height) + var(--footer-height)));
    width: 8px;
    float: left;
    z-index: 98;
    position: absolute;
    top: var(--header-height);

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 10px;
      width: 80px;
      bottom: 0;
    }

    &:before {
      top: 0px;
      left: 8px;
      height: 30px;
      width: 30px;
      border-bottom-left-radius: 50%;
      background: transparent;
      transform: rotate(90deg);
      box-shadow: 0 13px 0 0 var(--sidebar-main-bg-color);
    }

    &:after {
      bottom: 0px;
      left: 7px;
      height: 30px;
      width: 30px;
      border-bottom-left-radius: 50%;
      background: transparent;
      transform: rotate(0deg);
      box-shadow: 0 10px 0 0 var(--sidebar-main-bg-color);
    }
  }
}

.content-body {
  transition: all 0.2s linear;

  &.full {
    padding: 1rem 1.4rem 1rem 1.3rem;
  }

  &.compact {
    padding: 1rem 20rem 1rem 1.3rem;
  }

  .loading-content {
    background-color: var(--sidebar-main-bg-color);
    position: fixed;
    z-index: var(--z-index--main-loading);
    width: 100vw;
    height: calc(95vh - var(--footer-height));
    opacity: 0.95;
    text-align: center;
    justify-content: space-around;
    display: flex;
    justify-items: center;
    flex-wrap: nowrap;
    left: 0;
    align-items: center;
    top: var(--header-height);

    .full {
      padding: 1rem 1.4rem 1rem 1.3rem;
      transition: all 0.2s linear;
    }

    .compact {
      padding: 1rem 20rem 1rem 1.3rem;
      transition: all 0.2s linear;
    }
  }
}

@media (max-width: 991px) {
  .content-body {
    transition: all 0.2s linear;

    &.full,
    &.compact {
      padding: 1rem 1.4rem 1rem 1.3rem;
      transition: all 0.2s linear;
    }
  }

  .loading-content {
    .full,
    .compact {
      padding: 1rem 1.4rem 1rem 1.3rem !important;
      transition: all 0.2s linear;
    }
  }
}

.content::-webkit-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  background-color: transparent;
  overflow-y: auto;
  overflow-x: hidden;
}

.content::-webkit-scrollbar-thumb {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  background-color: transparent;
  overflow-y: auto;
  overflow-x: hidden;
}

.offcanvas {
  width: 380px;
}
