<!-- بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم -->

<aside class="sidebar" [class.closed]="sidemenuService.isClose()">
  <!-- ردیف تب ها -->
  <div
    class="toggle-panel-active-tabs mx-3"
    [class.tab-content-wide]="
      sidemenuService.offcanvasMode || sidemenuService.isClose()
    "
    [class.tab-content-compact]="
      !sidemenuService.offcanvasMode && !sidemenuService.isClose()
    "
    [class.tab-content-close]="!authService.getAuthorizationToken()">
    <block-active-tabs-bar></block-active-tabs-bar>
  </div>

  <div class="toggle-panel p-2">
    <!-- حالت جم شونده -->
    <a
      class="toggle-panel-button"
      [attr.data-bs-toggle]="sidemenuService.offcanvasMode && 'offcanvas'"
      [attr.data-bs-target]="sidemenuService.offcanvasMode && '#offcanvasRight'"
      [attr.aria-controls]="sidemenuService.offcanvasMode && 'offcanvasRight'"
      [class.closed]="sidemenuService.isClose()"
      (click)="
        sidemenuService.isClose()
          ? sidemenuService.open()
          : sidemenuService.close()
      ">
      <div
        class="toggle-panel-button-icon"
        [class.closed]="sidemenuService.isClose()"
        [class.no-icon]="!authService.getAuthorizationToken()">
        <i
          [class.mgc_menu_fill]="
            sidemenuService.offcanvasMode || sidemenuService.isClose()
          "
          [class.mgc_more_2_fill]="
            !sidemenuService.offcanvasMode && !sidemenuService.isClose()
          "></i>
      </div>
    </a>
    <!--/ حالت جم شونده -->
  </div>

  <!-- منو اصلی -->
  <div class="menu-panel">
    <!-- ایجاد منو -->
    <div class="sidebar-nav flex-shrink-0 p-2">
      @for (menu of menuList; track menu.name) {
      <ul class="list-unstyled ps-0 pb-1 small">
        <li class="nav-item">
          <a
            #menuItem
            class="nav-link collapsed"
            data-bs-toggle="collapse"
            aria-expanded="false"
            [attr.id]="menu.name"
            [attr.data-bs-target]="'#components-nav-' + menu.name">
            <i
              class="text-start"
              [class]="menu.icon ? menu.icon : 'mgc_question_line'"></i>
            <span class="p-2">
              {{ menu.title }}
            </span>
            @if (menu.subMenu && menu.subMenu.length > 0) {
            <i class="p-2 mgc_down_line"></i>
            }
          </a>
          <!-- زیر منو -->
          @if (menu.subMenu && menu.subMenu.length > 0) {
          <div class="show">
            <ul
              #subMenuItem
              class="nav-content collapse"
              data-bs-parent="#sidebar-nav"
              [id]="'components-nav-' + menu.name">
              @for (subMenu of menu.subMenu; track subMenu) {
              <li class="my-2">
                <a
                  [routerLink]="'/' + menu.name + '/' + subMenu.name"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page">
                  <span class="p-2">
                    {{ subMenu.title }}
                  </span>
                </a>
              </li>
              }
            </ul>
          </div>
          }
          <!--/ زیر منو -->
        </li>
        <!--/ منو اصلی -->
        <!-- جدا کننده -->
        <hr class="sidebar-divider" />
      </ul>
      }
    </div>
    <!--/ ایجاد منو -->
  </div>

  <div class="toggle-panel-buttom p-2"></div>

  <!-- ایجاد منو جانبی -->
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-body">
      <div class="menu-panel">
        <!-- متن اصلی -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center offcanvas-body">
          <div class="sidebar-brand-icon rotate-n-15"></div>

          <a
            class="sidebar-brand-text mx-3"
            routerLink="/home/dashboard"
            routerLinkActive="active"
            ariaCurrentWhenActive="page">
            بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ
          </a>
        </a>
        <!--/ متن اصلی -->

        <!-- جدا کننده -->
        <hr class="sidebar-divider my-0" />

        <!-- ایجاد منو -->
        <div class="sidebar-nav flex-shrink-0 p-2">
          @for (menu of menuList; track menu.name) {
          <ul class="list-unstyled ps-0 pb-1 small">
            <li class="nav-item">
              <a
                #menuItemOffcanvas
                class="nav-link collapsed"
                data-bs-toggle="collapse"
                aria-expanded="false"
                [attr.id]="menu.name"
                [attr.data-bs-target]="'#components-nav-' + menu.name">
                <i
                  class="text-start"
                  [class]="menu.icon ? menu.icon : 'mgc_question_line'"></i>
                <span class="p-2">
                  {{ menu.title }}
                </span>
                @if (menu.subMenu && menu.subMenu.length > 0) {
                <i class="p-2 mgc_down_line"></i>
                }
              </a>
              <!-- زیر منو -->
              @if (menu.subMenu && menu.subMenu.length > 0) {
              <div>
                <ul
                  #subMenuItemOffcanvas
                  class="nav-content collapse"
                  data-bs-parent="#sidebar-nav"
                  [id]="'components-nav-' + menu.name">
                  @for (subMenu of menu.subMenu; track subMenu) {
                  <li class="my-2">
                    <a
                      [routerLink]="'/' + menu.name + '/' + subMenu.name"
                      routerLinkActive="active"
                      ariaCurrentWhenActive="page">
                      <span class="p-2">
                        {{ subMenu.title }}
                      </span>
                    </a>
                  </li>
                  }
                </ul>
              </div>
              }
              <!--/ زیر منو -->
            </li>
            <!--/ منو اصلی -->
          </ul>
          }
        </div>
        <!--/ ایجاد منو -->
      </div>
    </div>
  </div>
</aside>
