/* بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم */

a {
  color: var(--sidemenu-item-color);
  text-decoration: none;
  background-color: transparent;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-index-sidemenu);
  transition: var(--main-transition);
  overflow: hidden;

  .toggle-panel-active-tabs {
    position: fixed;
    left: 2px;
    width: calc(100% - 328px);
    top: calc(var(--header-height) + 0.7rem);
    transition: var(--main-transition);
  }

  .tab-content-wide {
    width: calc(100% - 2.25rem);
  }

  .menu-panel::-webkit-scrollbar {
    display: none;
  }

  .menu-panel {
    top: 0;
    float: right;
    width: 300px;
    height: 100vh;
    background: var(--sidemenu-main-color);
    overflow-y: scroll;
    scrollbar-width: none;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 35px;
      height: 30px;
      width: 30px;
      box-shadow: 0 13px 0 0 var(--sidemenu-main-color);
      border-bottom-left-radius: 50%;
      background: transparent;
    }

    &:before {
      top: var(--header-height);
      transform: rotate(180deg);
    }

    &:after {
      bottom: var(--footer-height);
      transform: rotate(270deg);
    }
  }

  .toggle-panel {
    position: relative;
    text-align: center;
    width: 65px;
    height: var(--header-height);
    float: left;
    padding: 0;
    left: -2px;

    .toggle-panel-button {
      cursor: pointer;
      position: relative;
      top: calc(var(--header-height) + 0.95rem);

      .toggle-panel-button-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--sidemenu-main-color);
        height: 3rem;
        border-left: 2px solid var(--main-color);

        i {
          &::before {
            font-size: 2rem;
            color: var(--main-item-color) !important;
          }
        }
      }
    }
  }

  .sidebar-brand {
    position: sticky;
    height: 4.4rem;
    font-weight: 800;
    top: 0;
    background-color: rgba(var(--sidemenu-main-color), 0.5);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    z-index: var(--z-index-sidemenu-header);

    .sidebar-brand-text {
      cursor: pointer;
      color: var(--main-hilight-color);
      font-size: 1.4rem;
      font-weight: 900;
    }
  }

  hr.sidebar-divider {
    position: sticky;
    top: 4.4rem;
    margin: 1rem 1rem 1rem 1rem;
    z-index: var(--z-index-sidemenu-header);
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

.sidebar-nav {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: var(--z-index-sidemenu);

  ul {
    padding: 0;
    margin-bottom: 0.5rem;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}

.sidebar-nav .nav-item {
  margin-bottom: 0px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--sidemenu-item-color);
  background-color: var(--sidemenu-main-color);
  transition: 0.3;
  margin: 8px 13px 0 13px;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar-nav .nav-link i {
  display: flex;
  padding: 0rem 0.5rem 0rem 0.5rem;
  color: var(--sidemenu-item-color);
  font-size: 1.5rem;
  transition: var(--main-transition);
}

.sidebar-nav .nav-link span {
  font-size: 1.03rem;
  font-weight: 850;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: var(--main-transition);
  width: 100vw;
}

/* Menu Items */
.sidebar-nav .nav-link.collapsed {
  color: var(--sidemenu-item-color);
  background-color: var(--sidemenu-main-color);
}

.sidebar-nav .nav-link.collapsed i {
  color: var(--sidemenu-item-icon-color);
}

.sidebar-nav .nav-link:hover {
  color: var(--sidemenu-hilight-color);
  background: var(--main-color);
  border-radius: 4px;
}

.sidebar-nav .nav-link:hover i {
  color: var(--sidemenu-item-color);
}

.sidebar-nav .nav-link .mgc_down_line {
  margin-right: 0;
  transition: transform 0.2s linear;
}

.sidebar-nav .nav-link:not(.collapsed) .mgc_down_line {
  transform: rotate(180deg);
}

.sidebar-nav .nav-link:not(.collapsed) span {
  color: var(--sidemenu-hilight-color);
}

.sidebar-nav .nav-content {
  padding: 5px 0px 0px 20px;
  margin: 0 1.3rem 0 1rem;
  list-style: none;
  transition: var(--main-transition);
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  color: var(--sidemenu-item-color);
  text-decoration: none;
  font-weight: 620;
}

.sidebar-nav .nav-content a::before {
  content: "\ee05";
  font-family: "MingCute";
  font-size: 12px;
  margin-right: 13px;
}

.sidebar-nav .nav-content a.active::before {
  content: "\ee04";
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: var(--sidemenu-hilight-color);
  background-color: var(--main-color);
  border-radius: 4px;
}

/* closed Mode */
.sidebar.closed {
  right: -292px;
  transition: var(--main-transition);
}

/* extra */
.rotate-n-15 {
  transform: rotate(-15deg);
}

.offcanvas {
  width: 300.5px;

  .offcanvas-body {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .sidebar {
    right: -292px;
    transition: var(--main-transition);

    .toggle-panel-active-tabs {
      width: calc(100% - 2.25rem);
    }
  }
}
