<!-- بسم الله الرحمن الرحیم -->

<section class="section">
  <div class="row justify-content-end">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">تکی</h5>
          <div class="card-text">
            <p-accordion>
              <p-accordionTab header="حکایت I" [selected]="true">
                <p>
                  در زمان‌های گذشته، پادشاهی تخته سنگ را در وسط جاده قرار داد و
                  برای این که عکس العمل مردم را ببیند، خودش را در جایی مخفی کرد.
                  بعضی از بازرگانان و ندیمان ثروتمند پادشاه بی‌تفاوت از کنار
                  تخته سنگ می‌گذشتند؛ بسیاری هم غر می‌زدند که این چه شهری است که
                  نظم ندارد؛ حاکم این شهر عجب مرد بی‌عرضه‌ای است و… با وجود این
                  هیچکس تخته سنگ را از وسط بر نمی‌داشت. نزدیک غروب، یک روستایی
                  که پشتش بار میوه و سبزیجات بود، نزدیک سنگ شد. بارهایش را زمین
                  گذاشت و با هر زحمتی بود تخته سنگ را از وسط جاده برداشت و آن را
                  کناری قرار داد. ناگهان کیسه‌ای را دید که زیر تخته سنگ قرار
                  داده شده بود. کیسه را باز کرد و داخل آن سکه‌های طلا و یک
                  یادداشت پیدا کرد. پادشاه در آن یادداشت نوشته بود: هر سد و
                  مانعی می‌تواند یک شانس برای تغییر زندگی انسان باشد.
                </p>
              </p-accordionTab>
              <p-accordionTab header="حکایت II">
                <p>
                  مرد فقیری بود که همسرش کره می‌ساخت و او آن را به یکی از
                  بقالی‌های شهر می‌فروخت، آن زن کره‌ها را به صورت دایره‌های یک
                  کیلویی می‌ساخت. مرد آن را به یکی از بقالی‌های شهر می‌فروخت و
                  در مقابل مایحتاج خانه را می‌خرید. روزی مرد بقال به اندازه
                  کره‌ها شک کرد و تصمیم گرفت آنها را وزن کند. هنگامی که آنها را
                  وزن کرد، اندازه هر کره ۹۰۰ گرم بود. او از مرد فقیر عصبانی شد و
                  روز بعد به مرد فقیر گفت: دیگر از تو کره نمی‌خرم، تو کره را به
                  عنوان یک کیلو به من می فروختی در حالی که وزن آن ۹۰۰ گرم است.
                  مرد فقیر ناراحت شد و سرش را پایین انداخت و گفت: ما وزنه ترازو
                  نداریم و یک کیلو شکر از شما خریدیم و آن یک کیلو شکر را به
                  عنوان وزنه قرار می‌دادیم.
                </p>
              </p-accordionTab>
              <p-accordionTab header="حکایت III">
                <p>
                  لقمان حكیم پسر را گفت: امروز طعام مخور و روزه دار، و هرچه بر
                  زبان راندی، بنویس. شبانگاه همه آنچه را كه نوشتی، بر من بخوان.
                  آنگاه روزه‏ات را بگشا و طعام خور. شبانگاه، پسر هر چه نوشته
                  بود، خواند. دیروقت شد و طعام نتوانست خورد. روز دوم نیز چنین شد
                  و پسر هیچ طعام نخورد. روز سوم باز هرچه گفته بود، نوشت و تا
                  نوشته را بر خواند، آفتاب روز چهارم طلوع كرد و او هیچ طعام
                  نخورد. روز چهارم، هیچ نگفت. شب، پدر از او خواست كه كاغذها
                  بیاورد و نوشته‏‌ها بخواند. پسر گفت: امروز هیچ نگفته‌‏ام تا
                  برخوانم. لقمان گفت: پس بیا و از این نان كه بر سفره است بخور و
                  بدان كه روز قیامت، آنان كه كم گفته‏‌اند، چنان حال خوشی دارند
                  كه اكنون تو داری.
                </p>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">چندتایی</h5>
          <div class="card-text">
            <p-accordion [multiple]="true">
              <p-accordionTab header="حکایت I">
                <p>
                  بزرگمهر وزیر دانای انوشیروان هرروز صبح زود خدمت انوشیروان
                  می‌رفت و پس از ادای احترام رو در روی انوشیروان می‌گفت: سحر خیز
                  باش تا کامروا گردی. شبی انوشیروان به سرداران نظامی‌اش دستور
                  داد تا نیمه شب بیدار شوند و سر راه بزرگمهر منتظر بمانند. چون
                  پیش از صبح خواست به درگاه پادشاه بیاید لباس‌هایش از تنش در
                  بیاورند و از هر طرف به او حمله کنند تا راه فراری برای او باقی
                  نماند. صبح روز فردا وقایع طبق خواسته انوشیروان اتفاق افتاد.
                  بزرگمهر راه فراری پیدا نکرد. چون صلاح ندید برهنه به درگاه
                  انوشیروان برود، به خانه بازگشت و دوباره لباس پوشید. آن روز
                  دیرتر به خدمت پادشاه رسید. پادشاه خندید و گفت: مگر هر روز
                  نمی‌گفتی سحر خیز باش تا کامروا باشی؟ بزرگمهر گفت: دزدان امروز
                  کامروا شدند، زیرا آنها زودتر از من بیدار شده بودند. اگر من
                  زودتر از آنها بیدار می‌شدم و به درگاه پادشاه می‌آمدم، من
                  کامرواتر بودم.
                </p>
              </p-accordionTab>
              <p-accordionTab header="حکایت II">
                <p>
                  از حاتم پرسیدند: بخشنده‌تر از خود دیده‌ای؟ گفت:آری! مردی که
                  دارایی‌اش تنها دو گوسفند بود. یکی را شب برایم ذبح کرد. از طعم
                  جگرش تعریف کردم. صبح فردا جگر گوسفند دوم را نیز برایم کباب
                  کرد. گفتند: تو چه کردی؟ گفت: پانصد گوسفند به او هدیه دادم.
                  گفتند: پس تو بخشنده‌تری. گفت: نه! چون او هرچه داشت به من داد،
                  اما من اندکی از آنچه داشتم به او دادم.
                </p>
              </p-accordionTab>
              <p-accordionTab header="حکایت III">
                <p>
                  سلطان محمود را در حالت گرسنگی بادنجان بورانی آوردند. خوشش آمد.
                  گفت: بادنجان طعامی است خوش. ندیمی در مدح بادنجان فصلی پرداخت.
                  چون سیر شد، گفت: بادنجان سخت مضر است. ندیم باز در مضرت بادنجان
                  مبالغتی تمام کرد. سلطان گفت: ای مردک نه آن زمان که مدحش
                  می‌گفتی نه حال که مضرتش باز می‌گویی؟! مرد گفت: من ندیم توام نه
                  ندیم بادنجان. مرا چیزی باید گفت که تو را خوش آید نه بادنجان
                  را.
                </p>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">رویداد</h5>
          <div class="card-text">
            <div class="py-3">
              <p-button
                [icon]="activeState[2] ? 'pi pi-minus' : 'pi pi-plus'"
                (click)="toggle(2)"
                styleClass="p-button-text ml-2"
                label="حکایت III"
              ></p-button>
              <p-button
                [icon]="activeState[1] ? 'pi pi-minus' : 'pi pi-plus'"
                (click)="toggle(1)"
                styleClass="p-button-text ml-2"
                label="حکایت II"
              ></p-button>
              <p-button
                [icon]="activeState[0] ? 'pi pi-minus' : 'pi pi-plus'"
                (click)="toggle(0)"
                styleClass="p-button-text"
                label="حکایت I"
              ></p-button>
            </div>

            <p-accordion>
              <p-accordionTab header="حکایت I" [(selected)]="activeState[0]">
                <p>
                  مرد بسیار ثروتمندی که از حکیمی دل خوشی نداشت با خدمتکارانش در
                  بازار با حکیم و تعدادی از شاگردانش روبه‌رو شد. مرد ثروتمند با
                  حالتی پر از غرور و تکبر به حکیم گفت: تصمیم گرفته‌ام پول خودم
                  را هدر دهم و برایت سنگ قبری گران‌قیمت تهیه کنم. بگو جنس این
                  سنگ از چه باشد و روی آن چه بنویسم تا هر کس بالای آن قبر بایستد
                  و برای تو آرامش طلب کند شاد شود و خنده‌اش بگیرد. حکیم خنده‌ای
                  کرد و پاسخ داد: اگر خودت هم بالای سنگ قبر می‌ایستی. سنگ قبر
                  مرا از جنس آیینه انتخاب کن و روی آن هیچ چیز ننویس. بگذار مردمی
                  که بالای آن می‌ایستند تصویر خودشان را ببینند و اگر هم آمرزشی
                  طلب می‌کنند نصیب خودشان شود. مرد ثروتمند که حسابی جا خورده بود
                  برای اینکه جلوی اطرافیانش کم نیاورد با تمسخر گفت: اما همه که
                  برای دعای آمرزش بالای سنگ قبر نمی‌ایستند. حکیم با همان تبسم
                  گرم و صمیمانه همیشگی‌اش گفت: آنها آیینه‌ای بیش نخواهند دید.
                </p>
              </p-accordionTab>
              <p-accordionTab header="حکایت II" [(selected)]="activeState[1]">
                <p>
                  سلطان سلجوقی بر عابدی گوشه‌نشین و عزلت‌گزین وارد شد. حکیم
                  سرگرم مطالعه بود و سر بر نداشت و به ملکشاه تواضع نکرد، بدان
                  سان که سلطان به خشم اندر شد و به او گفت: آیا تو نمی‌دانی من
                  کیستم؟ من آن سلطان مقتدری هستم که فلان گردن‌کش را به خواری
                  کشتم و فلان یاغی را به غل و زنجیر کشیدم و کشوری را به تصرف در
                  آوردم. حکیم خندید و گفت: من نیرومندتر از تو هستم، زیرا من کسی
                  را کشته‌ام که تو اسیر چنگال بی‌رحم او هستی. شاه با تحیر پرسید:
                  او کیست؟ حکیم گفت: آن نفس است. من نفس خود را کشته‌ام و تو هنوز
                  اسیر نفس اماره خود هستی و اگر اسیر نبودی از من نمی‌خواستی که
                  پیش پای تو به خاک افتم و عبادت خدا بشکنم و ستایش کسی را کنم که
                  چون من انسان است. شاه از شنیدن این سخن شرمنده شد و عذر خطای
                  گذشته خود را خواست.
                </p>
              </p-accordionTab>
              <p-accordionTab header="حکایت III" [(selected)]="activeState[2]">
                <p>
                  جوان ثروتمندی نزد عارفی رفت و از او اندرزی برای زندگی نیک
                  خواست. عارف او را به کنار پنجره برد و پرسید: چه می‌بینی؟ گفت:
                  آدم‌هایی که می‌آیند و می‌روند و گدای کوری که در خیابان صدقه
                  می‌گیرد. بعد آینه بزرگی به او نشان داد و باز پرسید: در آینه
                  نگاه کن و بعد بگو چه می‌بینی؟ گفت: خودم را می‌بینم. عارف گفت:
                  دیگر دیگران را نمی‌بینی، در حالی که آینه و پنجره هر دو از یک
                  ماده اولیه ساخته شده‌اند. اما در آینه لایه نازکی از نقره در
                  پشت شیشه قرار گرفته و در آن چیزی جز شخص خودت را نمی‌بینی. این
                  دو شیئ شیشه‌ای را با هم مقایسه کن؛ وقتی شیشه فقیر باشد، دیگران
                  را می‌بیند و به آنها احساس محبت می‌کند. اما وقتی از جیوه (یعنی
                  ثروت، کبر، غرور، پلیدی و…) پوشیده می‌شود، تنها خودش را
                  می‌بیند. تنها وقتی ارزش داری که شجاع باشی و آن پوشش جیوه‌ای را
                  از جلو چشم‌هایت برداری تا بار دیگر بتوانی دیگران را ببینی و
                  دوستشان بداری.
                </p>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
