<!-- بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم -->
<main
  class="p-xl-5 p-lg-2 p-0 h-full w-full d-flex ai-center flex-column bg-main jc-center m-h-100"
>
  <div class="card m-xl-4 m-lg-1 m-md-1 m-sm-1 m-0 border-round shadow-2">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 col-xl-8 order-2 order-lg-1 bordered-box">
          <form
            class="p-xl-5 p-lg-3 p-md-2 p-2"
            [formGroup]="loginForm"
            #formDir="ngForm"
            (ngSubmit)="signin()"
          >
            <div class="form-group">
              <div class="field">
                <label for="mobile" class="text-600 font-medium mb-2 ms-1">
                  تلفن همراه
                </label>
                <p-inputMask
                  id="mobile"
                  name="mobile"
                  class="w-100"
                  [class.ng-invalid]="mobile?.invalid"
                  [class.ng-dirty]="
                    (submitted && password?.pristine) ||
                    mobile?.dirty ||
                    mobile?.touched
                  "
                  styleClass="w-100 form-control"
                  mask="09999999999"
                  formControlName="mobile"
                ></p-inputMask>
                <div id="mobile-help">
                  <small
                    *ngIf="(submitted && mobile?.pristine) || 
          (mobile?.errors?.['required'] && (mobile?.dirty || mobile?.touched))"
                    class="p-error"
                  >
                    لطفا تلفن همراه را خالی نگذارید
                  </small>

                  <small class="p-error" style="visibility: hidden">
                    error
                  </small>
                </div>
              </div>

              <div class="field">
                <label for="password" class="text-600 font-medium mb-2 ms-1">
                  گذرواژه
                </label>
                <p-password
                  id="password"
                  styleClass="w-100"
                  inputStyleClass="w-100"
                  formControlName="password"
                  [class.ng-invalid]="password?.invalid"
                  [class.ng-dirty]="
                    (submitted && password?.pristine) ||
                    password?.dirty ||
                    password?.touched
                  "
                  [toggleMask]="true"
                  [feedback]="false"
                ></p-password>
                <div id="password-help">
                  <small
                    *ngIf="(submitted && password?.pristine) || 
          (password?.errors?.['required'] && (password?.dirty || password?.touched))"
                    class="p-error"
                  >
                    لطفا گذرواژه را خالی نگذارید
                  </small>
                  <small
                    *ngIf="password?.errors?.['minlength'] && (password?.dirty || password?.touched)"
                    class="p-error"
                  >
                    {{ "گذرواژه حداقل شامل 8 کاراکتر می‌باشد" | faNum }}
                  </small>
                  <small style="visibility: hidden" class="p-error">
                    error
                  </small>
                </div>
              </div>

              <div
                class="d-flex align-items-center justify-content-between my-xl-4 my-lg-4 my-md-2"
              >
                <div class="d-flex align-items-center">
                  <!-- remember me -->
                  <p-checkbox
                    id="rememberMe"
                    name="rememberMe"
                    [binary]="true"
                    class="me-2"
                    formControlName="rememberMe"
                  >
                  </p-checkbox>

                  <label for="rememberMe" class="text-900">
                    <strong> تورو یادمون بمونه </strong>
                  </label>
                </div>
                <!-- forgot password -->
                <a
                  class="active-link font-medium no-underline me-2 text-hilight text-start cursor-pointer"
                >
                  <strong> گذرواژتو فراموش کردی؟ </strong>
                </a>
              </div>

              <div class="w-100 text-end">
                <button
                  pButton
                  pRipple
                  class="submit-button w-100 shadow-2 p-button-primary"
                  icon="pi pi-user"
                  type="submit"
                  label="ورود"
                  [loading]="loading"
                ></button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12 col-xl-4">
          <div class="d-flex jc-center ai-center mt-xl-3">
            <div class="row">
              <div
                class="col-xl-12 col-md-10 text-xl-center text-md-start mb-2"
              >
                <div class="text-900 display-5 font-medium mb-xl-4 mb-md-0">
                  <strong> سلام </strong>
                </div>

                <span class="text-600 font-medium line-height-3">
                  هنوز حساب کاربری نداری؟
                </span>

                <a
                  class="active-link font-medium no-underline me-2 text-hilight cursor-pointer"
                  routerLink="/account/register"
                  ariaCurrentWhenActive="page"
                >
                  <strong> از اینجا بساز! </strong>
                </a>
              </div>
              <img
                src="assets/images/signin.svg"
                class="col-xl-12 col-md-2 d-xl-block d-md-block d-none rounded my-xl-4"
                alt="SignIn Image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
