<!-- بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم -->

<section class="section">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">سلام</div>

      <span class="text-600 font-medium line-height-3">
        هنوز حساب کاربری نداری ؟
      </span>

      <a class="font-medium no-underline ml-2 text-hilight cursor-pointer">
        از اینجا بساز!
      </a>
    </div>

    <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="signin()">
      <div class="form-group">
        <div class="field">
          <label for="mobile" class="block text-900 font-medium mb-2">
            شماره تلفن همراه
          </label>
          <p-inputMask
            id="mobile"
            name="mobile"
            class="w-100"
            [class.ng-invalid]="mobile?.invalid"
            [class.ng-dirty]="
              (submitted && password?.pristine) ||
              mobile?.dirty ||
              mobile?.touched
            "
            styleClass="w-100 form-control"
            mask="09999999999"
            formControlName="mobile"
          ></p-inputMask>
          <small
            *ngIf="(submitted && mobile?.pristine) || 
            (mobile?.errors?.['required'] && (mobile?.dirty || mobile?.touched))"
            id="mobile-help"
            class="p-error"
          >
            لطفا شماره تلفن همراه را خالی نگذارید
          </small>
        </div>

        <div class="field py-3">
          <label for="password" class="block text-900 font-medium mb-2">
            گذرواژه
          </label>
          <p-password
            id="password"
            styleClass="w-100"
            inputStyleClass="w-100"
            formControlName="password"
            [class.ng-invalid]="password?.invalid"
            [class.ng-dirty]="
              (submitted && password?.pristine) ||
              password?.dirty ||
              password?.touched
            "
            [toggleMask]="true"
            [feedback]="false"
          ></p-password>
          <small
            *ngIf="(submitted && password?.pristine) || 
            (password?.errors?.['required'] && (password?.dirty || password?.touched))"
            id="mobile-help"
            class="p-error"
          >
            لطفا گذرواژه را خالی نگذارید
          </small>
          <small
            *ngIf="password?.errors?.['minlength'] && (password?.dirty || password?.touched)"
            id="mobile-help"
            class="p-error"
          >
            {{ "گذرواژه حداقل شامل 8 کاراکتر می‌باشد" | faNum }}
          </small>
        </div>
        <div class="flex align-items-center justify-content-between mb-6">
          <div class="flex align-items-center">
            <!-- remember me -->
            <p-checkbox id="rememberme" [binary]="true" class="ml-2">
            </p-checkbox>

            <label for="rememberme" class="text-900"> تورو یادمون بمونه </label>
          </div>
          <!-- forgot password -->
          <a
            class="font-medium no-underline ml-2 text-hilight text-right cursor-pointer"
          >
            گذرواژتو فراموش کردی؟
          </a>
        </div>

        <div class="w-100 text-center">
          <button
            pButton
            pRipple
            class="w-75 shadow-2 p-button-primary"
            icon="pi pi-user"
            type="submit"
            label="ورود"
            [loading]="loading"
          ></button>
        </div>
      </div>
    </form>
  </div>
</section>
