<!-- بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم -->

<section class="section">
  <!-- ساده -->
  <div class="row justify-content-start">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">ساده</h5>
          <div class="card-text text-center"></div>
          <p-tabView>
            <p-tabPanel header="حکایت I">
              <p>
                روزى زنبور و مار با هم بحثشان شد. مار می‌گفت: آدم‌ها از ترس ظاهر
                ترسناک من می‌میرند، نه بخاطر نیش زدنم! اما زنبور قبول نمى‌کرد.
                مار برای اثبات حرفش، به چوپانى که زیر درختى خوابیده بود نزدیک شد
                و رو به زنبور گفت: من چوپان را نیش مى‌زنم و مخفى می‌شوم؛ تو
                بالاى سرش سر و صدا و خودنمایى کن! مار چوپان را نیش زد و زنبور
                شروع کرد به پرواز بالاى سر چوپان. چوپان از خواب پرید و گفت: اى
                زنبور لعنتى! و شروع به مکیدن جاى نیش و تخلیه زهر کرد. مقدارى
                دارو بر روى زخمش گذاشت و بعد از چند روز خوب شد. سپس دوباره مشغول
                استراحت شد که مار و زنبور نقشه دیگری کشیدند: این بار زنبور نیش
                زد و مار خودنمایى کرد! چوپان از خواب پرید و همین که مار را دید،
                از ترس پا به فرار گذاشت!  او بخاطر وحشت از مار، دیگر زهر را
                تخلیه نکرد و ضمادى هم استفاده نکرد… چند روز بعد، چوپان به خاطر
                ترس از مار و نیش زنبور مرد!
              </p>
            </p-tabPanel>
            <p-tabPanel header="حکایت II">
              <p>
                ملک زاده‌ای را شنیدم که کوتاه بود و حقیر و دیگر برادران بلند و
                خوب روی… باری پدر به کراهت و استحقار درو نظر می‌کرد پسر به فراست
                استبصار به جای آورد و گفت ای پدر، کوتاه خردمند به که نادان بلند
                نه هر چه به قامت مهتر به قیمت بهتر
              </p>
            </p-tabPanel>
            <p-tabPanel header="حکایت III">
              <p>
                یکی نزد حکیمی آمد و گفت: خبر داری فلانی درباره‌ات چه‌قدر غیبت و
                بدگویی کرده؟ حکیم با تبسم گفت: او تیری را به سویم پرتاب کرد که
                به من نرسید؛ تو چرا آن تیر را از زمین برداشتی و در قلبم فرو
                کردی؟
              </p>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
  <!-- بستنی -->
  <div class="row justify-content-start">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">بستنی</h5>
          <div class="card-text text-center"></div>
          <p-tabView id="closableTabView">
            <p-tabPanel header="حکایت I" [selected]="true">
              <p>
                درویشی مجرد به گوشه‌ای نشسته بود؛ پادشاهی برو بگذشت. درویش از آن
                جا که فراغ ملک قناعت است سر نیاورد و التفات نکرد. سلطان از آن جا
                که سطوت سلطنت است برنجید و گفت این طایفه خرقه پوشان امثال
                حیوان‌اند و اهلیت و آدمیت ندارند! وزیر نزدیکش آمد و گفت ای جوان
                مرد سلطان روی زمین بر تو گذر کرد چرا خدمتی نکردی و شرط ادب به
                جای نیاوردی؟ گفت سلطان را بگوی توقع خدمت از کسی دار که توقع نعمت
                از تو دارد و دیگر بدان که ملوک از بهر پاس رعیت‌اند نه رعیت از
                بهر طاعت ملوک گرچه رامش به فرّ دولت اوست…
              </p>
            </p-tabPanel>
            <p-tabPanel header="ضرب‌المثل I" [closable]="true">
              <p>در خانه ات را ببند , همسایه ات را دزد نکن</p>
            </p-tabPanel>
            <p-tabPanel header="ضرب‌المثل II" [closable]="true">
              <p>خوشا چاهی که آب از خود برآرد</p>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
</section>
