<!-- بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم -->

<section class="section">
  <p-toast position="bottom-left"></p-toast>
  <!-- پویا -->
  <div class="row justify-content-start">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">پیش فرض</h5>
          <div class="card-text text-center">
            <p-fileUpload
              name="demo[]"
              url="https://jsonplaceholder.ir/users"
              (onUpload)="onUpload($event)"
              [multiple]="true"
              accept="image/*"
              [maxFileSize]="1000000"
              invalidFileSizeMessageDetail="حداکثر حجم بازگزاری {0} می‌باشد.">
              <ng-template pTemplate="content">
                @if (uploadedFiles.length) {
                <ul>
                  @for (file of uploadedFiles; track file) {
                  <li>{{ file.name }} - {{ file.size }} bytes</li>
                  }
                </ul>
                }
              </ng-template>
            </p-fileUpload>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
