/* بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم */

.footer {
  position: fixed;
  bottom: 0;
  font-size: 14px;
  height: var(--footer-height);
  background-color: var(--sidemenu-main-color);
  box-shadow: var(--main-box-shadow);
  z-index: var(--z-index-footer);

  .version {
    font-size: 14px;
    font-weight: 500;
    color: var(--main-item-color);
    padding-left: 30px;
  }
}
