<!-- بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم -->

<section class="section">
  <!-- پیش فرض -->
  <div class="row justify-content-start">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">پیش فرض</h5>
          <div class="card-text text-center">
            <p-table
              #dt
              [value]="customers"
              [(selection)]="selectedCustomers"
              dataKey="id"
              [rowHover]="true"
              [rows]="5"
              [showCurrentPageReport]="true"
              [rowsPerPageOptions]="[5, 10]"
              [loading]="loading"
              [paginator]="true"
              currentPageReportTemplate="نمایش {first} تا {last} از {totalRecords} ردیف"
              [filterDelay]="0"
              [globalFilterFields]="[
                'name',
                'country.name',
                'representative.name',
                'status'
              ]">
              <ng-template pTemplate="caption">
                <div class="table-header">
                  فهرست مشتریان
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="
                        dt.filterGlobal($any($event.target).value, 'contains')
                      "
                      placeholder="جستجو" />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th pSortableColumn="name" style="min-width: 14rem">
                    <div
                      class="flex justify-content-between align-items-center">
                      نام
                      <p-sortIcon field="name"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="name"
                        display="menu"
                        class="ml-auto"></p-columnFilter>
                    </div>
                  </th>
                  <th pSortableColumn="country.name" style="min-width: 14rem">
                    <div
                      class="flex justify-content-between align-items-center">
                      کشور
                      <p-sortIcon field="country.name"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="country.name"
                        display="menu"
                        class="ml-auto"></p-columnFilter>
                    </div>
                  </th>
                  <th
                    pSortableColumn="representative.name"
                    style="min-width: 14rem">
                    <div
                      class="flex justify-content-between align-items-center">
                      مجری
                      <p-sortIcon field="representative.name"></p-sortIcon>
                      <p-columnFilter
                        field="representative"
                        matchMode="in"
                        display="menu"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                        class="ml-auto">
                        <ng-template pTemplate="header">
                          <div class="px-3 pt-3 pb-0">
                            <span class="font-bold">انتخاب مجری</span>
                          </div>
                        </ng-template>
                        <ng-template
                          pTemplate="filter"
                          let-value
                          let-filter="filterCallback">
                          <p-multiSelect
                            [ngModel]="value"
                            [options]="representatives"
                            placeholder="همه"
                            (onChange)="filter($event.value)"
                            optionLabel="name">
                            <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                <img
                                  [alt]="option.label"
                                  src="assets/showcase/images/demo/avatar/{{
                                    option.image
                                  }}"
                                  width="32"
                                  style="vertical-align: middle" />
                                <span class="mx-1">{{ option.name }}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </ng-template>
                      </p-columnFilter>
                    </div>
                  </th>
                  <th pSortableColumn="date" style="min-width: 10rem">
                    <div
                      class="flex justify-content-between align-items-center">
                      تاریخ
                      <p-sortIcon field="date"></p-sortIcon>
                      <p-columnFilter
                        type="date"
                        field="date"
                        display="menu"
                        class="ml-auto"></p-columnFilter>
                    </div>
                  </th>
                  <th pSortableColumn="balance" style="min-width: 10rem">
                    <div
                      class="flex justify-content-between align-items-center">
                      هزینه
                      <p-sortIcon field="balance"></p-sortIcon>
                      <p-columnFilter
                        type="numeric"
                        field="balance"
                        display="menu"
                        currency="IRR"
                        currencyDisplay="code"
                        class="ml-auto"></p-columnFilter>
                    </div>
                  </th>
                  <th pSortableColumn="status" style="min-width: 10rem">
                    <div
                      class="flex justify-content-between align-items-center">
                      وضعیت
                      <p-sortIcon field="status"></p-sortIcon>
                      <p-columnFilter
                        field="status"
                        matchMode="equals"
                        display="menu"
                        class="ml-auto">
                        <ng-template
                          pTemplate="filter"
                          let-value
                          let-filter="filterCallback">
                          <p-dropdown
                            [ngModel]="value"
                            [options]="statuses"
                            (onChange)="filter($event.value)"
                            placeholder="Any">
                            <ng-template let-option pTemplate="item">
                              <span
                                [class]="
                                  'customer-badge status-' + option.value
                                "
                                >{{ option.label }}</span
                              >
                            </ng-template>
                          </p-dropdown>
                        </ng-template>
                      </p-columnFilter>
                    </div>
                  </th>
                  <th pSortableColumn="activity" style="min-width: 10rem">
                    <div
                      class="flex justify-content-between align-items-center">
                      فعالیت
                      <p-sortIcon field="activity"></p-sortIcon>
                      <p-columnFilter
                        field="activity"
                        matchMode="between"
                        display="menu"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                        class="ml-auto">
                        <ng-template
                          pTemplate="filter"
                          let-filter="filterCallback">
                          <p-slider
                            [ngModel]="activityValues"
                            [range]="true"
                            (onSlideEnd)="filter($event.values)"
                            styleClass="m-3"></p-slider>
                          <div
                            class="flex align-items-center justify-content-between px-2">
                            <span>{{ activityValues[0] }}</span>
                            <span>{{ activityValues[1] }}</span>
                          </div>
                        </ng-template>
                      </p-columnFilter>
                    </div>
                  </th>
                  <th style="width: 5rem"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-customer>
                <tr class="p-selectable-row">
                  <td>
                    <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                  </td>
                  <td>
                    <span class="p-column-title">Name</span>
                    {{ customer.name }}
                  </td>
                  <td>
                    <span class="p-column-title">Country</span>
                    <img
                      src="assets/showcase/images/demo/flag/flag_placeholder.png"
                      [class]="'flag flag-' + customer.country.code"
                      width="30" />
                    <span class="image-text mx-2">{{
                      customer.country.name
                    }}</span>
                  </td>
                  <td>
                    <span class="p-column-title">Representative</span>
                    <img
                      [alt]="customer.representative.name"
                      src="assets/showcase/images/demo/avatar/{{
                        customer.representative.image
                      }}"
                      width="32"
                      style="vertical-align: middle" />
                    <span class="image-text mx-2">{{
                      customer.representative.name
                    }}</span>
                  </td>
                  <td>
                    <span class="p-column-title">Date</span>
                    {{ customer.date | jDate | faNum }}
                  </td>
                  <td>
                    <span class="p-column-title">Balance</span>
                    {{ customer.balance | irCurrency : 'R' | faNum }}
                  </td>
                  <td>
                    <span class="p-column-title">Status</span>
                    <span
                      [class]="'customer-badge status-' + customer.status"
                      >{{ customer.statuslabel }}</span
                    >
                  </td>
                  <td>
                    <span class="p-column-title">Activity</span>
                    <p-progressBar
                      [value]="customer.activity"
                      [showValue]="false"></p-progressBar>
                  </td>
                  <td style="text-align: center">
                    <button
                      pButton
                      type="button"
                      class="p-button-secondary"
                      icon="pi pi-cog"></button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="8">هیچ مشتری‌ای یافت نشد!</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
