/* بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم */

.header {
  position: fixed;
  height: var(--header-height);
  background-color: var(--sidemenu-main-color);
  box-shadow: var(--main-box-shadow);
  transition: all 0.2s;
  z-index: var(--z-index-header);

  .sign-out-button {
    color: var(--sidemenu-brand-color);
  }
}
