/* بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم */

.header {
  position: fixed;
  height: var(--header-height);
  background-color: var(--sidemenu-main-color);
  box-shadow: var(--main-box-shadow);
  transition: all 0.2s;
  z-index: var(--z-index-header);

  .sign-out-button {
    color: var(--main-item-color);
  }

  /* The switch - the box around the slider */
  .switch {
    --width-of-switch: 3.2em;
    --height-of-switch: 1.5em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.1em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.2em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-item-color);
    transition: 0.4s;
    border-radius: 13px;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #fb7ba2, #fce043 70%);
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: var(--main-item-color);
  }

  input:checked + .slider:before {
    left: calc(
      100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em))
    );
    background: #3e3e3e;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #c5d4f9, inset -9px -3px 0 0 #fcfcfcfc;
  }
}
