/* بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم */

/*--------------------------------------------------------------
# PrimeNG Theme
--------------------------------------------------------------*/
@import 'primeng/resources/themes/viva-light/theme.css';

/*--------------------------------------------------------------
# Main color palette
--------------------------------------------------------------*/
:root {
  --main-color: rgb(250, 250, 250);
  --main-hilight-color: #00328a;
  --main-item-color: #408289;

  --loading-element-color: #003ef8;

  --main-card-background: #fff;
  --main-card-color: #575757;
  --main-card-border-color: #e1e1f7;
  --main-card-shadow: rgba(1, 7, 114, 0.1) 0px 1px 1px 0.5px;
  --main-card-hover-shadow: 0 0 0 1px #4a4a4a, 0 0 0 4px transparent,
    0 2px 12px 0 rgba(96, 101, 105, 0.2);

  --sidemenu-main-color: #ffffff;
  --sidemenu-hilight-color: #003ef8;
  --sidemenu-item-color: #222222;

  --main-gradiant: linear-gradient(25deg, #dae4ff, #fff 85%);

  --main-box-shadow: rgba(1, 7, 114, 0.05) 0px 0px 4px 3px,
    rgba(1, 7, 114, 0.1) -1px 1px 2px 1px;
}

label {
  color: #848484;
}
