/* بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم */

/*--------------------------------------------------------------
# PrimeNG Theme
--------------------------------------------------------------*/
@import 'primeng/resources/themes/viva-light/theme.css';

/*--------------------------------------------------------------
# Boostrap Variables
--------------------------------------------------------------*/
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/maps";
// @import "node_modules/bootstrap/scss/utilities";

// Include any default variable overrides here (though functions won't be available)

// Include remainder of required Bootstrap stylesheets
// @import "node_modules/bootstrap/scss/bootstrap";
// @import "node_modules/bootstrap/dist/css/bootstrap.rtl.min.css";

/*--------------------------------------------------------------
# Main color palette
--------------------------------------------------------------*/
:root {
  --main-color: #f4f7ff;
  --main-hilight-color: #2e3192;
  --main-item-color: #bbc5e2;

  --loading-element-color: #003ef8;

  --main-card-background: #fff;
  --main-card-color: #575757;
  --main-card-border-color: #e1e1f7;
  --main-card-shadow: rgba(1, 7, 114, 0.1) 0px 25px 20px -20px;
  --main-card-hover-shadow: 0 0 0 1px #4a4a4a, 0 0 0 4px transparent,
    0 2px 12px 0 rgba(96, 101, 105, 0.2);

  --sidemenu-main-color: #fcfdff;
  --sidemenu-hilight-color: #003ef8;
  --sidemenu-item-color: #222222;

  --main-gradiant: linear-gradient(25deg, #dae4ff, #fff 85%);

  --main-box-shadow: rgba(1, 7, 114, 0.05) 0px -2px 14px 1px,
    rgba(1, 7, 114, 0.05) 0px 2px 5px 1px;
}

label {
  color: #848484;
}
