<!-- بسم الله الرحمن الرحیم -->

<header class="header py-1 d-flex align-items-stretch">
  <div class="container-fluid d-flex align-items-center">
    <div class="d-flex flex-row">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-lg p-button-rounded p-button-text p-button-danger mx-1"
        (click)="signout()"
        pTooltip="خروج از حساب کاربری"
      ></button>
      <!-- <button
        pButton
        pRipple
        type="button"
        icon="pi pi-user"
        class="p-button-lg p-button-rounded p-button-text button-match-color mx-1"
        style="color: #5a73a2"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-bell"
        class="p-button-lg p-button-rounded p-button-text button-match-color mx-1"
      ></button> -->
    </div>
  </div>
</header>
