<!-- بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم -->

<section class="section">
  <p-toolbar>
    <div class="navigation-tab" *ngFor="let tab of activeTabs">
      <span
        class="p-buttonset navigation-tab-wrapper border-bottom w-100"
        [class.border-primary]="tab.name === activatedKey"
      >
        <button
          pButton
          pRipple
          class="p-button-text p-button-secondary ps-3 w-75 text-start"
          [class.p-button-info]="tab.name === activatedKey"
          [label]="tab.storedRoute.snapshot.data['title']"
          (click)="navigateRoute(tab.storedRoute.path)"
        ></button>
        <button
          pButton
          pRipple
          class="p-button-text p-button-secondary w-25"
          [class.p-button-danger]="tab.name === activatedKey"
          icon="pi pi-times"
          iconPos="left"
          (click)="discardRoute(tab.name)"
        ></button>
      </span>
    </div>
  </p-toolbar>
</section>
