<!-- بِسْمِ اللهِ الرَّحْمنِ الرَّحِیم -->

<main>
  <section
    class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center"
  >
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">~ و خدایی که در این نزدیکیست ~</h2>
        <div class="card-text text-center">
          <img
            src="assets/images/not-found.svg"
            class="img-fluid"
            alt="Page Not Found"
          />
        </div>
      </div>
    </div>
  </section>
</main>
